# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual Environments
venv/
.venv/
env/
ENV/

# IDE configurations
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Testing & Coverage caches
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Build & Packaging artifacts
dist/
build/
*.egg-info/

# OS artifacts
.DS_Store
Thumbs.db
